<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <!-- -----------Font awesome icons----------- -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <!-- ----------Rubik font family---------- -->
    <link href="https://fonts.googleapis.com/css2?
    family=Nunito:wght@400;700;800&family=Rubik:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <!-- -----------------custom css---------------------- -->
    <link rel="stylesheet" href="css/style.css">
    <!-- ----------Jquery ui files------------ -->
    <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.min.css">
    <!-- -----------Owl carousel------------- -->
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- -------------Media Query------------- -->
    <link rel="stylesheet" href="css/media.css">
</head>